#coworker{
    display: block;
}
#report{
    display: none;
}
#settingsCompany{
    display: none;
}
.bottomLink{
    margin-bottom: 11px;
}
tbody tr:hover{
    background: yellow;
    cursor: pointer;
}
.morgan{
    padding: 20px;
}