#sms{
    display: block;
}
#zyavki{
    display: none;
}
#klient{
    display: none;
}
.rightCont{
    margin-left: auto;
}
.contentRight{
    padding-right: 1px;
}
tbody tr:hover{
    background: yellow;
    cursor: pointer;
}